web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/categoryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://category/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://category/" name="categoryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://category/" schemaLocation="http://localhost:8080/WineXpressWebService-war/categoryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="veiwAllCategories">
<part name="parameters" element="tns:veiwAllCategories"/>
</message>
<message name="veiwAllCategoriesResponse">
<part name="parameters" element="tns:veiwAllCategoriesResponse"/>
</message>
<message name="saveNewCategory">
<part name="parameters" element="tns:saveNewCategory"/>
</message>
<message name="saveNewCategoryResponse">
<part name="parameters" element="tns:saveNewCategoryResponse"/>
</message>
<message name="searchCategory">
<part name="parameters" element="tns:searchCategory"/>
</message>
<message name="searchCategoryResponse">
<part name="parameters" element="tns:searchCategoryResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<message name="onRowEdit">
<part name="parameters" element="tns:onRowEdit"/>
</message>
<message name="onRowEditResponse">
<part name="parameters" element="tns:onRowEditResponse"/>
</message>
<portType name="categoryWS">
<operation name="veiwAllCategories">
<input wsam:Action="http://category/categoryWS/veiwAllCategoriesRequest" message="tns:veiwAllCategories"/>
<output wsam:Action="http://category/categoryWS/veiwAllCategoriesResponse" message="tns:veiwAllCategoriesResponse"/>
</operation>
<operation name="saveNewCategory">
<input wsam:Action="http://category/categoryWS/saveNewCategoryRequest" message="tns:saveNewCategory"/>
<output wsam:Action="http://category/categoryWS/saveNewCategoryResponse" message="tns:saveNewCategoryResponse"/>
</operation>
<operation name="searchCategory">
<input wsam:Action="http://category/categoryWS/searchCategoryRequest" message="tns:searchCategory"/>
<output wsam:Action="http://category/categoryWS/searchCategoryResponse" message="tns:searchCategoryResponse"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://category/categoryWS/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://category/categoryWS/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
</operation>
<operation name="onRowEdit">
<input wsam:Action="http://category/categoryWS/onRowEditRequest" message="tns:onRowEdit"/>
<output wsam:Action="http://category/categoryWS/onRowEditResponse" message="tns:onRowEditResponse"/>
</operation>
</portType>
<binding name="categoryWSPortBinding" type="tns:categoryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="veiwAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveNewCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="onRowEdit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="categoryWS">
<port name="categoryWSPort" binding="tns:categoryWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/categoryWS"/>
</port>
</service>
</definitions>