web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/CustAccMngmtWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accountManagement.wx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://accountManagement.wx.com/" name="CustAccMngmtWS">
<types>
<xsd:schema>
<xsd:import namespace="http://accountManagement.wx.com/" schemaLocation="http://localhost:8080/WineXpressWebService-war/CustAccMngmtWS?xsd=1"/>
</xsd:schema>
</types>
<message name="logInMember">
<part name="parameters" element="tns:logInMember"/>
</message>
<message name="logInMemberResponse">
<part name="parameters" element="tns:logInMemberResponse"/>
</message>
<message name="logOutMember">
<part name="parameters" element="tns:logOutMember"/>
</message>
<message name="logOutMemberResponse">
<part name="parameters" element="tns:logOutMemberResponse"/>
</message>
<message name="registerAsMember">
<part name="parameters" element="tns:registerAsMember"/>
</message>
<message name="registerAsMemberResponse">
<part name="parameters" element="tns:registerAsMemberResponse"/>
</message>
<message name="activateAccount">
<part name="parameters" element="tns:activateAccount"/>
</message>
<message name="activateAccountResponse">
<part name="parameters" element="tns:activateAccountResponse"/>
</message>
<message name="viewAccInfoMember">
<part name="parameters" element="tns:viewAccInfoMember"/>
</message>
<message name="viewAccInfoMemberResponse">
<part name="parameters" element="tns:viewAccInfoMemberResponse"/>
</message>
<message name="editParticularsMember">
<part name="parameters" element="tns:editParticularsMember"/>
</message>
<message name="editParticularsMemberResponse">
<part name="parameters" element="tns:editParticularsMemberResponse"/>
</message>
<message name="changePwMember">
<part name="parameters" element="tns:changePwMember"/>
</message>
<message name="changePwMemberResponse">
<part name="parameters" element="tns:changePwMemberResponse"/>
</message>
<message name="viewPurchaseHistoryMember">
<part name="parameters" element="tns:viewPurchaseHistoryMember"/>
</message>
<message name="viewPurchaseHistoryMemberResponse">
<part name="parameters" element="tns:viewPurchaseHistoryMemberResponse"/>
</message>
<portType name="CustAccMngmtWS">
<operation name="logInMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/logInMemberRequest" message="tns:logInMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/logInMemberResponse" message="tns:logInMemberResponse"/>
</operation>
<operation name="logOutMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/logOutMemberRequest" message="tns:logOutMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/logOutMemberResponse" message="tns:logOutMemberResponse"/>
</operation>
<operation name="registerAsMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/registerAsMemberRequest" message="tns:registerAsMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/registerAsMemberResponse" message="tns:registerAsMemberResponse"/>
</operation>
<operation name="activateAccount">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/activateAccountRequest" message="tns:activateAccount"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/activateAccountResponse" message="tns:activateAccountResponse"/>
</operation>
<operation name="viewAccInfoMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/viewAccInfoMemberRequest" message="tns:viewAccInfoMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/viewAccInfoMemberResponse" message="tns:viewAccInfoMemberResponse"/>
</operation>
<operation name="editParticularsMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/editParticularsMemberRequest" message="tns:editParticularsMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/editParticularsMemberResponse" message="tns:editParticularsMemberResponse"/>
</operation>
<operation name="changePwMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/changePwMemberRequest" message="tns:changePwMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/changePwMemberResponse" message="tns:changePwMemberResponse"/>
</operation>
<operation name="viewPurchaseHistoryMember">
<input wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/viewPurchaseHistoryMemberRequest" message="tns:viewPurchaseHistoryMember"/>
<output wsam:Action="http://accountManagement.wx.com/CustAccMngmtWS/viewPurchaseHistoryMemberResponse" message="tns:viewPurchaseHistoryMemberResponse"/>
</operation>
</portType>
<binding name="CustAccMngmtWSPortBinding" type="tns:CustAccMngmtWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logInMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logOutMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerAsMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activateAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAccInfoMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editParticularsMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePwMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewPurchaseHistoryMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustAccMngmtWS">
<port name="CustAccMngmtWSPort" binding="tns:CustAccMngmtWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/CustAccMngmtWS"/>
</port>
</service>
</definitions>