web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/CustSupportWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="CustSupportWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/WineXpressWebService-war/CustSupportWS?xsd=1"/>
</xsd:schema>
</types>
<message name="creatEnquiry">
<part name="parameters" element="tns:creatEnquiry"/>
</message>
<message name="creatEnquiryResponse">
<part name="parameters" element="tns:creatEnquiryResponse"/>
</message>
<message name="sendResponse">
<part name="parameters" element="tns:sendResponse"/>
</message>
<message name="sendResponseResponse">
<part name="parameters" element="tns:sendResponseResponse"/>
</message>
<message name="generatePassword">
<part name="parameters" element="tns:generatePassword"/>
</message>
<message name="generatePasswordResponse">
<part name="parameters" element="tns:generatePasswordResponse"/>
</message>
<message name="getNewEnquiry">
<part name="parameters" element="tns:getNewEnquiry"/>
</message>
<message name="getNewEnquiryResponse">
<part name="parameters" element="tns:getNewEnquiryResponse"/>
</message>
<message name="sendEmail">
<part name="parameters" element="tns:sendEmail"/>
</message>
<message name="sendEmailResponse">
<part name="parameters" element="tns:sendEmailResponse"/>
</message>
<portType name="CustSupportWS">
<operation name="creatEnquiry">
<input wsam:Action="http://WS/CustSupportWS/creatEnquiryRequest" message="tns:creatEnquiry"/>
<output wsam:Action="http://WS/CustSupportWS/creatEnquiryResponse" message="tns:creatEnquiryResponse"/>
</operation>
<operation name="sendResponse">
<input wsam:Action="http://WS/CustSupportWS/sendResponseRequest" message="tns:sendResponse"/>
<output wsam:Action="http://WS/CustSupportWS/sendResponseResponse" message="tns:sendResponseResponse"/>
</operation>
<operation name="generatePassword">
<input wsam:Action="http://WS/CustSupportWS/generatePasswordRequest" message="tns:generatePassword"/>
<output wsam:Action="http://WS/CustSupportWS/generatePasswordResponse" message="tns:generatePasswordResponse"/>
</operation>
<operation name="getNewEnquiry">
<input wsam:Action="http://WS/CustSupportWS/getNewEnquiryRequest" message="tns:getNewEnquiry"/>
<output wsam:Action="http://WS/CustSupportWS/getNewEnquiryResponse" message="tns:getNewEnquiryResponse"/>
</operation>
<operation name="sendEmail">
<input wsam:Action="http://WS/CustSupportWS/sendEmailRequest" message="tns:sendEmail"/>
<output wsam:Action="http://WS/CustSupportWS/sendEmailResponse" message="tns:sendEmailResponse"/>
</operation>
</portType>
<binding name="CustSupportWSPortBinding" type="tns:CustSupportWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="creatEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generatePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNewEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustSupportWS">
<port name="CustSupportWSPort" binding="tns:CustSupportWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/CustSupportWS"/>
</port>
</service>
</definitions>