src/conf/xml-resources/web-service-references/productWS/wsdl/localhost_8080/WineXpressWebService-war/productWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://product/" name="productWS">
<types>
<xsd:schema>
<xsd:import namespace="http://product/" schemaLocation="http://localhost:8080/WineXpressWebService-war/productWS?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAllProducts">
<part name="parameters" element="tns:viewAllProducts"/>
</message>
<message name="viewAllProductsResponse">
<part name="parameters" element="tns:viewAllProductsResponse"/>
</message>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="saveNewProduct">
<part name="parameters" element="tns:saveNewProduct"/>
</message>
<message name="saveNewProductResponse">
<part name="parameters" element="tns:saveNewProductResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="getAllCategories">
<part name="parameters" element="tns:getAllCategories"/>
</message>
<message name="getAllCategoriesResponse">
<part name="parameters" element="tns:getAllCategoriesResponse"/>
</message>
<portType name="productWS">
<operation name="viewAllProducts">
<input wsam:Action="http://product/productWS/viewAllProductsRequest" message="tns:viewAllProducts"/>
<output wsam:Action="http://product/productWS/viewAllProductsResponse" message="tns:viewAllProductsResponse"/>
</operation>
<operation name="searchProduct">
<input wsam:Action="http://product/productWS/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://product/productWS/searchProductResponse" message="tns:searchProductResponse"/>
</operation>
<operation name="saveNewProduct">
<input wsam:Action="http://product/productWS/saveNewProductRequest" message="tns:saveNewProduct"/>
<output wsam:Action="http://product/productWS/saveNewProductResponse" message="tns:saveNewProductResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://product/productWS/editProduct" message="tns:editProduct"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://product/productWS/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://product/productWS/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="getAllCategories">
<input wsam:Action="http://product/productWS/getAllCategoriesRequest" message="tns:getAllCategories"/>
<output wsam:Action="http://product/productWS/getAllCategoriesResponse" message="tns:getAllCategoriesResponse"/>
</operation>
</portType>
<binding name="productWSPortBinding" type="tns:productWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveNewProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="productWS">
<port name="productWSPort" binding="tns:productWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/productWS"/>
</port>
</service>
</definitions>